@layer ui.components {
  .ui-icon {
    inline-size: var(--ui-icon-size, 1rem);
    block-size: var(--ui-icon-size, 1rem);
    flex-shrink: 0;
    vertical-align: -0.125em;
    pointer-events: none;

    &[data-size="sm"] {
      --ui-icon-size: 0.75rem;
    }

    &[data-size="lg"] {
      --ui-icon-size: 1.25rem;
    }
  }
}
